@import "bootstrap";

/* header */
body {
  background-color: #E6EE9C;
}

#header_nav {
  background-color: #E6EE9C;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #F06292;
  box-sizing: border-box;

  > a {
    display: block;
    width: 35%;
    height: 80px;
    line-height: 80px;
    margin-left: 5%;
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }

  > ul {
    width: 55%;
    height: 80px;
    line-height: 80px;
    margin-right: 5%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    > li {

      > a {
        text-decoration: none;
        color:#E57373;
        font-size: 20px;
        font-weight: bold;
        display: block;
        transition: .5s;
      }

      > a:hover {
        text-shadow: 2px 2px #F06292;
      }
    }
  }
}




/*shop list*/
#shop_list {
  width: 95%;
  margin-left: 5%;
  margin-bottom: 80px;
  font-size: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 10px;
  font-weight: bold;
  color: #E57373;
  position: relative;
}

#shop_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shop_body {
  display: block;
  text-decoration: none;
  width: 30%;
  margin-bottom: 100px;
  position: relative;
}


.shop_img {
  display: block;
  border-radius: 20px;
  width: 90%;
  margin: 10px auto;
}

.shop_name {
  font-size: 30px;
  font-weight: bold;
  color: #F06292;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.shop_name::after {
  position: absolute;
  bottom: -4px;
  left: calc(50% - 40px);
  content: '';
  width: 80px;
  height: 5px;
  background: #E57373;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.shop_body:hover {
  text-decoration: none;
}

.shop_body:hover > .shop_name::after {
  transform: scale(1, 1);
}



/* shop menu */
#shop_menu {
  width: 90%;
  margin: 0 auto;

  > h1 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
    color: #E57373;
    position: relative;
  }

  > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      display: block;
      width: 150px;
    }

    dl {
      font-size: 20px;
      color: #E57373;
      margin-left: 20px;
      margin-bottom: 0;

      dd {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  > a:nth-child(3) {
    display: block;
    width: 150px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #E57373;
    font-weight: bold;
  }

  > h2 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
    color: #E57373;
    position: relative;
  }

  #menu_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu_body {
  display: block;
  text-decoration: none;
  width: 30%;
  margin-bottom: 100px;
  position: relative;
}


.menu_img {
  display: block;
  border-radius: 20px;
  width: 100%;
}

.menu_name {
  font-size: 20px;
  margin-bottom: 0;
  color: #E57373;
  text-align: left;
  text-decoration: none;
  position: relative;
}

.menu_price {
  font-size: 30px;
  font-weight: bold;
  color: #F06292;
  text-align: left;
  text-decoration: none;
  position: relative;
}
}



/* shop about */
#shop_about {
  margin-left: 5%;
}


/* menu カートに追加*/
#menu_selected {
  width: 90%;
  margin: 0 auto;
  // margin-bottom: 80px;
  // font-size: 100px;
  // font-family:Georgia, 'Times New Roman', Times, serif;
  // letter-spacing: 10px;
  // font-weight: bold;
  color: #E57373;
  position: relative;

  > div:nth-child(3) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    div {
      width: 50%;

      .menu_img {
        display: block;
        width: 90%;
        margin-bottom: 10px;
      }

      .menu_name {
        font-size: 20px;
        margin-bottom: 0;
        color: #E57373;
        text-align: left;
        text-decoration: none;
        position: relative;
        }

      .menu_price {
        font-size: 30px;
        font-weight: bold;
        color: #F06292;
        text-align: left;
        text-decoration: none;
        position: relative;
      }
    }

    form {
      width: 50%;

      div {
        width: 100%;
        font-size: 30px;
        margin-bottom: 50px;
        select {
          margin-left: 20px;
          color: #F06292;
          border: none;
        }
      }

      > input {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border: 3px solid #E57373;
        border-radius: 10px;
        background-color: #fff;
        color: #E57373;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }

  > h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

  > a:nth-child(2) {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #E57373;
    margin-bottom: 10px;
  }
}



/* sign up*/
#sign_up {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #E57373;
  }

  form {
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: #E57373;

    .field {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        margin-bottom: 0;
      }
    }

    .actions > input {
      margin-top: 50px;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 50px;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      color: #E57373;
      background-color: #E6EE9C;
      border: 5px solid #E57373;
      border-radius: 20px;
    }
  }
}







/* login */
#login {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #E57373;
  }

  form {
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: #E57373;

    .field {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        margin-bottom: 0;
      }
    }

    .nonflex {
      display: block;
      text-align: right;
    }

    .actions > input {
      margin-top: 50px;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 50px;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      color: #E57373;
      background-color: #E6EE9C;
      border: 5px solid #E57373;
      border-radius: 20px;
    }
  }
}









/* forget password */
#forget_password {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #E57373;
  }

  form {
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: #E57373;

    .field {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        margin-bottom: 0;
      }
    }

    .actions > input {
      margin-top: 50px;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 50px;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      color: #E57373;
      background-color: #E6EE9C;
      border: 5px solid #E57373;
      border-radius: 20px;
    }
  }
}


#other_link > a {
  font-weight: bold;
  display: block;
  text-align:center;
  text-decoration: none;
  color: #E57373;
}

#other_link > a:nth-child(1) {
  margin-top: 50px;
}









/* cart */
#cart {
  width: 90%;
  margin: 0 auto;

  > h1 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
    color: #E57373;
    position: relative;
  }

  ul {
    list-style: none;
    color: #E57373;

    li {
      margin-bottom: 30px;

      h2 {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #F06292;
      }
    }
  }
}




#cart_detail {
  width: 90%;
  margin: 0 auto;

  > h1 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
    color: #E57373;
    position: relative;
  }
}